<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7e3ad621-ab90-4b0c-ba3a-a8c92306d4a0/resourceGroups/TerraformLab2-RG-JB/providers/Microsoft.Web/sites/Lab2WebApp-JB</ResourceId>
    <ResourceGroup>TerraformLab2-RG-JB</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://lab2webapp-jb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aa592095-f99d-4701-bbd3-53e57975cc4e</ProjectGuid>
    <PublishUrl>https://lab2webapp-jb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Lab2WebApp-JB</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>